<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Login</title>
</head>
<body>
    <form method="post">
        <h1>Login</h1>
        <div class="input-box">
            <input type="text" name="username" placeholder="Username" required>
        </div>
        <div class="input-box">
            <input type="password" name="password" placeholder="Password" required>
            <i class="bx bx-hide" onclick="showHide()"></i>
        </div>
        <button type="submit">Login</button>
        <span>I don't have an account <a href="/signup">Signup</a></span>
    </form>
    <script>
        const showHide = function() {
            const input = event.target.parentElement.querySelector('input')
            if(input.type == 'password'){
                input.type = 'text'
                event.target.classList.replace('bx-hide', 'bx-show')
            }
            else{
                input.type = 'password'
                event.target.classList.replace('bx-show', 'bx-hide')
            }
        }
    </script>
</body>
</html>